.berita-container {
    background-color: #145283;
    text-align: center;
    padding: 10px;
}

.berita-title {
    color: white;
    font-size: large;
    font-weight: 600;
}

.small-image {
    max-width: 150px; /* Atur ukuran sesuai kebutuhan */
    margin: 0 auto; /* Untuk memusatkan gambar */
}
